.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 9999;
    transition: transform 0.4s ease-in-out;
}

.nav-logo {
    float: left;
    margin: 10px 5px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
}

.right-nav {
    position: relative;
    float: right;
    font-size: 18px;
    color: #333;
}