.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 9999;
    transition: transform 0.4s ease-in-out;
}

.nav-logo {
    float: left;
    margin: 10px 5px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

.nav-links {
    float: right;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 25px 20px 0 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ee9024;
}